@charset "UTF-8";
/* CSS Document */

.navbar-inner {
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(60, 60, 60));
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	
}

#myCarousel{
	margin-top:115px;
}

.carousel-inner>.item>img {
margin: 0 auto;
}

#nav-heading {
	margin-left: 0px;
	padding-left: 40px;
	text-align: center;
}

#pg_btn {
	float:right;
}